.ConteinerAdminUsers {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 20px;
}

.ConteinerAdminUsers span {
  margin-top: 230px;
  color: #ccc;
}

.table_Grafico {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.conteinerLoading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
}

.cards {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
