.comentario {
  width: 80%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  margin: auto;
}

.comentario header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.comentario header .infoUser {
  display: flex;
  gap: 10px;
}

.comentario header .infoUser img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.comentario header .infoUser section {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #06bbcc;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  font-size: 18px;
  color: #06bbcc;
}

.bio {
  color: #52565b;
  font-size: 12px;
}

.text {
  font-size: 15px;
  color: #52566b;
  margin-bottom: 15px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.comentario header .infoUser div {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.handleLike {
  width: auto;
  display: flex;
  align-items: center;
  gap: 15px;
}

.handleLike div {
  display: flex;
  align-items: center;
  gap: 3px;
}
